<%- include("partials/header.ejs") %>

<body class="container-fluid">

    <div id="main" role="main" class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="row">
            <div class="col-md-12">
                <div class="card rounded-4">
                    <img class="card-img-top rounded-top-4" src="/images/illustration-hero.svg" alt="cartoon girl with headphones on">
                    <div class="card-body ms-2">
                        <h3 class="card-title text-center pt-4 pb-2">Order Summary</h3>
                        <p class="card-text text-center">You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>

                        <div class="mb-4 price-box rounded-4 ms-3 me-3">
                            <table>
                                <tr>
                                    <td>
                                        <img class="ps-3" src="/images/icon-music.svg" alt="music icon">
                                    </td>
                                    <td>
                                        <p class="ps-3 pt-3"><span style="font-weight: 900;">Annual Plan</span><br><span style="font-weight: 500; color: #7f8296;">$59.99/year</span></p>
                                    </td>
                                    <td>
                                        <p class="link-pricing pt-3"><a href="">Change</a></p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <button class="btn btn-primary">Proceed to payment</button>

                        <p>Cancel Order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>

</body>
</html>