<%- include("partials/header.ejs") %>

<body class="container-fluid">

    <div id="main" role="main" class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="row">
            <div class="col-md-12">
                <div class="card rounded-4 shadow-lg">
                    <img class="card-img-top rounded-top-4" src="/images/illustration-hero.svg" alt="cartoon girl with headphones on">
                    <div class="card-body ms-2">
                        <h3 class="card-title text-center pt-4 pb-2">Order Summary</h3>
                        <p class="card-text text-center">You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>

                        <div class="mb-4 price-box rounded-4 ms-3 me-3">
                            <table>
                                <tr>
                                    <td>
                                        <img class="ps-3" src="/images/icon-music.svg" alt="music icon">
                                    </td>
                                    <td>
                                        <p class="annual-plan ps-3 pt-3">Annual Plan<br><span style="font-weight: 500; color: #7f8296;">$59.99/year</span></p>
                                    </td>
                                    <td>
                                        <p class="link-pricing pt-3"><a class="link-underline link-underline-opacity-0-hover" href="#">Change</a></p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn ms-3 me-3 mt-2 pt-2 pb-2 rounded-3 shadow-lg" type="submit">Proceed to Payment</button>
                        </div>

                        <p class="text-center mt-4"><a href="#" class="cancel-text link-underline link-underline-opacity-0">Cancel Order</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>

</body>
</html>