/* media */
@media only screen and (max-width: 375px) {
    .annual-plan {
        color: #2D3447 !important;
        font-weight: 700;
        font-size: 14px;
    }

    .card {
        max-width: 20rem !important;
    }

    .link-pricing {
        font-size: 12px !important;
        padding-left: 1.5rem !important;
    }
}

@media only screen and (min-width: 376px) {
    .annual-plan {
        font-weight: 900;
    }
}

/* tags */

body {
    background: url(/images/pattern-background-desktop.svg) repeat-x;
    position: absolute;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

h3 {
    font-weight: 900;
}

p {
    font-size: 16px;
    font-weight: 300;
}

/* classes */

.btn {
    background-color: #382AE1;
    color: white;
    font-weight: 500;
}

.btn:hover {
    background-color: #766CF1;
    color: white;
}

.card {
    border: none;
    max-width: 24rem;
}

.cancel-text {
    color: #7f8296 !important;
    font-size: 14px;
    font-weight: 700;
}

.cancel-text:hover {
    color: #2D3447 !important;
}

.link-pricing {
    float: right;
    font-size: 14px;
    font-weight: 700;
    padding-left: 4rem;
}

.link-pricing a {
    color: #382AE1;
}

.link-pricing a:hover {
    color: #766CF1;
}

.price-box {
    background-color: hsl(225, 100%, 98%);
}

.wave-container {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #e6f2ff;
}