/* tags */

body {
    background: url(/images/pattern-background-desktop.svg) repeat-x;
    position: absolute;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

h3 {
    font-weight: 900;
}

p {
    font-size: 16px;
    font-weight: 300;
}

/* classes */

.card {
    max-width: 24rem;
}

.wave-container {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #e6f2ff;
}